@model IEnumerable<Atlas.Models.ViewModels.MushroomsListVM>

<h1>Lista grzybów w bazie danych</h1>


<table>
    <thead>
        <tr><td>Nazwa grzyba</td><td>Akcje</td></tr>
    </thead>
    <tbody>

        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                    <a asp-area="Dashboard" asp-controller="Mushroom" asp-action="Delete" asp-route-ID="@item.ID">usuń</a> |
                    <a asp-area="Dashboard" asp-controller="Mushroom" asp-action="Update" asp-route-ID="@item.ID">edytuj</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



<a asp-action="Create" asp-controller="Mushroom" asp-area="Dashboard">Utwórz Nowy</a>