@model IEnumerable<Atlas.Models.ViewModels.MushroomsListVM>

<h1>Nasze Grzybki</h1>

<ul>

    @foreach (var item in Model)
    {
        <li><a asp-area="" asp-action="Detail" asp-route-id="@item.ID">@item.Name</a></li>
    }



</ul>